
@model Storyteller.Models.Writer

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<p>You're the adventurous sort, huh? I like that! OK, let's make a new room! What will we call this room?</p>

<form action="~/Story/Create" method="post">
    @Html.AntiForgeryToken()
    <label for="roomName">Room Name: </label>
    <input type="text" id="roomName" name="Id" placeholder="@Model.Name's room" />
    <button type="submit">I think this is a nice name.</button>
</form>