@model Storyteller.Models.Room

@{
    ViewBag.Title = "FirstLine";
}

<h2>FirstLine</h2>

<p>Wow, @Model.Owner.Name! @Model.Name is a really great name for a room. </p>

<div class="row">
    <div>
        <p>Alright! Since you're the creator of this fine room, <strong>you get to write the first line of the story!</strong> Go ahead, write anything which could be the start to the next great novel!</p>

        <form action="~/Story/FirstLine/@Model.Code" method="post">
            <div class="form-inline">
                <div class="form-group">
                    @Html.AntiForgeryToken()
                    <label class="mr-2" for="firstLine">The first line of your story: </label>
                    <input size="120" maxlength="120" id="firstLine" class="form-control mr-2" type="text" name="firstLine" placeholder="It was a dark and stormy night." />
                </div>
                <button type="submit" class="btn btn-primary">I'm done.</button>
            </div>
        </form>
    </div>
</div>