
@model Storyteller.Models.Writer

@{
    ViewBag.Title = "Join";
}

<h2>Join</h2>

<div class="row">
    <div>
        <p>I bet you're going to have loads of fun with your friends in that room, @Model.Name! Ask your friends for the <strong>invite code</strong> and put it here:</p>

        <form action="~/Story/Join" method="post">
            <div class="form-inline">
                <div class="form-group">
                    @Html.AntiForgeryToken()
                    <label class="mr-2" for="inviteCode">Invite Code: </label>
                    <input id="inviteCode" class="form-control mr-2" type="text" name="Id" placeholder="ABCD" />
                </div>
                <button type="submit" class="btn btn-primary">That's the code!</button>
            </div>
        </form>
    </div>
</div>